extends layout

block content

    .container

        .jumbotron
            h1 Events Manager
            p.
                No one loves managing events as much as Diva, and as such, she 
                needs her very own web app to manage all her events. This, of course,
                will be designed by Trevor, who will work tirelessly to finish the
                site by February <strong>and</strong> teach her how the whole thing
                works as well. Challenge status: Accepted. 

            p I am also paid in mangos to make this site. Or something like that.
